<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<resultMap type="board" id="boardMap" >
		<id property="boardNo" column="boardno"/>
		<result property="boardTitle" column="boardtitle"/>
		<result property="boardContent" column="boardcontent"/>
		<result property="boardDate" column="boarddate"/>
		<result property="boardReadCount" column="boardreadcount"/>
		<association property="boardWriter" resultMap="memberMap"/>
		<collection property="files" ofType="attachment">
			<id property="attachmentNo" column="attachmentno"/>
			<result property="originalFilename" column="originalfilename"/>
			<result property="renamedFilename" column="renamedfilename"/>
			<result property="uploadDate" column="uploaddate"/>
			<result property="downloadCount" column="downloadcount"/>
		</collection>
	</resultMap>
	<!-- association|| collection은 result들 사이에 들어가면 에러나니까
	맨 마지막에 써주기  -->
	
	<resultMap type="member" id="memberMap">
		<id property="userId" column="userid"/>
		<result property="userName" column="username"/>
		<result property="gender" column="gender"/>
		<result property="age" column="age"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="address" column="address"/>
		<result property="hobby" column="hobby" typeHandler="strArr"/>
		<result property="enrollDate" column="enrolldate"/>
	</resultMap>
	
	
	
	<select id="boardList" resultMap="boardMap">
		SELECT * FROM BOARD B
	    JOIN MEMBER M ON B.BOARDWRITER=M.USERID 
	    LEFT JOIN ATTACHMENT A ON B.BOARDNO=A.BOARDNO
	    ORDER BY B.BOARDNO DESC
	</select>

	<select id="boardListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD VALUES(SEQ_BOARDNO.NEXTVAL,
		#{boardTitle},#{boardWriter.userId},#{boardContent},DEFAULT,DEFAULT)
		
		<selectKey keyProperty="boardNo" resultType="int" order="AFTER"> 
			SELECT SEQ_BOARDNO.CURRVAL FROM DUAL
		</selectKey>
	
	</insert>
	<!-- order="BEFORE" : 주 쿼리문을 실행하기 전에 이거 먼저 실행해라! key값을 먼저 가져오기
				AFTER   :            한   후에
	  -->
	<insert id="insertAttachment" parameterType="attachment">
		INSERT INTO ATTACHMENT VALUES(SEQ_ATTACHMENTNO.NEXTVAL,#{boardNo.boardNo}
		,#{originalFilename},#{renamedFilename},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	<!-- 
		<insert id="insertAttachment" parameterType="attachment">
		INSERT INTO ATTACHMENT VALUES(SEQ_ATTACHMENTNO.NEXT
		
		이런식으로 작성하면 오류가 남! 근데? insert는 돼. 이럼 안되니까 스프링을 이용해서 transaction처리를 해줘야 함	
	
	 -->
	
	
	<select id="viewBoard" parameterType="_int" resultMap="boardMap">
		SELECT * FROM BOARD B
	    JOIN MEMBER M ON B.BOARDWRITER=M.USERID 
	    LEFT JOIN ATTACHMENT A ON B.BOARDNO=A.BOARDNO	 
		WHERE B.BOARDNO=#{boardNo}
	</select>
	
	
</mapper>
